.img-container {
  border-radius: 30% 30% / 80% 80%;
  /* border-top-left-radius: 80%;
  border-top-right-radius: 80%;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 20%; */
}
.header {
  -webkit-backdrop-filter: blur(24px);
  backdrop-filter: blur(24px);
}
.navlinks {
  font-size: small;
  font-weight: 600;
  margin: 0 6px;
  padding: 4px 14px;
  transition: all 0.5s;
  border-radius: 8px;
}
.navlinks:hover {
  color: #f26200;
}
