.img__container {
  /* border-radius: 30% 30% / 80% 80%; */
  border-top-left-radius: 80%;
  border-top-right-radius: 80%;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 5%;
}
.header {
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
}
.title__header {
  font-family: Cambria;
  font-style: italic;
}
.skill__icons:hover {
  transform: translateY(-4px);
}
.arr__to__top {
  animation: showArrow 2s ease-in;
}

/* Modal */
.modal__overlay {
  position: fixed;
  box-sizing: content-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 999;
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
}
.navlinks::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0%;
  height: 2px;
  background: linear-gradient(90deg, #f4d8cd 20%, #edb183 60%);
  transition: all 0.5s;
}
.navlinks:hover::before {
  width: 100%;
}

/*  ##### IMAGE SLIDER ###### */
.image-slider {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.image-slider div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 1s ease-in-out;
}

.image-slider div.transform.translate-x-0 {
  transform: translateX(0);
}

.image-slider div.transform.-translate-x-full {
  transform: translateX(-100%);
}

@keyframes showArrow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
/* scroll */
@keyframes scroll-x-reverse {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-scroll-x-reverse {
  animation: scroll-x-reverse 20s linear infinite;
}
