@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
.navlinks {
  @apply relative text-sm font-semibold mx-4 my-0 py-0 transition-all duration-200 rounded-3xl cursor-pointer;
}
* {
  margin: 0;
  box-sizing: border-box;
}
:root {
  --body-color: hsla(228, 15%, 15%);
  --body-font: "Poppins", sans-serif;
}
body::-webkit-scrollbar {
  display: none;
}
body {
  background-color: var(--body-color);
  font-family: var(--body-font);
  color: white;
}
